/* Estilos gerais para telas maiores que 1024px */

/* Estilos para tablets (largura entre 768px e 1024px) */
@media (max-width: 1024px) and (min-width: 768px) {
    .container {
        padding: 15px;
    }

    .header {
        font-size: 18px;
    }
}

/* Estilos para celulares (largura menor que 768px) */
@media (max-width: 767px) {
    .container {
        padding: 10px;
    }

    nav {
        display: none;
    }

    .header {
        font-size: 14px;
        text-align: center;
    }

    .button {
        width: 100%;
        padding: 10px;
        font-size: 16px;
    }
}